@use "../scss/" as *;

.carousel {
  .carousel__single--background {
    height: calc(100vh - $header-height);
    @include flex(flex-end, unset);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: inset 20px 20px 100px 40px rgba(1, 1, 1, 0.7);
  }
  .carousel__single--info {
    width: 25vw;
  }
  .btn-group {
    @include flex(center, unset);
    @include mobile {
      flex-direction: column;
    }
  }
}
