.movie__strip {
  h2 {
    margin: 1em 0;
  }
  .movie__strip--wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    gap: 1em;
    * {
      word-wrap: none;
      width: 20em;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
